:root {
	--color-white: white;
	--color-green: green;
	--color-blue: blue;
	--color-lightgrey: #f8f8f8;
}

.btn-connect {
	background-color: var(--color-green);
	color: var(--color-white);
}

.btn-message-send {
	background-color: var(--color-blue);
	color: var(--color-white);
}

.btn {
	font-weight: bold;
}

.btn:active {
	outline: none;
	border: none;
}

.btn:disabled {
	opacity: 0.5;
}

.btn:hover {
	cursor: pointer;
}

.wrapper {
	display: grid;
	place-items: center;
	height: 100vh;
}

/*? ========> JoinBlock <======== */

.join-block {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.join-block-control::placeholder {
	text-align: center;
}

.join-block-control,
.btn-connect {
	margin-bottom: 5px;
	height: 30px;
}

.join-block-control {
	padding: 0 30px;
	text-align: center;
}

.join-block-control:focus::placeholder {
	color: transparent;
}

/*? ========> Chat <======== */

.chat {
	height: 90%;
	width: 50%;
	background-color: var(--color-lightgrey);
	display: flex;
	justify-content: space-between;
}

.chat-users {
	background-color: lightpink;
	flex: 0.2;
}

.chat-users-list {
	list-style-type: none;
}

.chat-users-link {
	text-align: start;
	width: 90%;
	padding: 10px 0 10px 20px;
	margin: 10px auto;
	background-color: var(--color-white);
	border-radius: 5px;
	cursor: pointer;
}

.chat-users-cont {
	font-size: large;
}

.chat-messages {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: lightsalmon;
	overflow: auto;
	flex: 0.8;
}

.message {
	background-color: var(--color-white);
	margin: 10px;
	height: 40px;
	width: 50%;
	border-radius: 5px;
}
