.app {
	display: grid;
	place-items: center;
	height: 100vh;
}

.wrapper {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.wrapper > input::placeholder {
	text-align: center;
}

.wrapper > input,
button {
	margin-bottom: 5px;
	height: 30px;
}

.wrapper > input {
	padding: 0 30px;
	text-align: center;
}

.wrapper > input:focus::placeholder {
	color: transparent;
}

.wrapper > button {
	background-color: green;
	color: white;
	font-weight: bold;
}

.wrapper > button:active {
	outline: none;
	border: none;
	background-color: lightgrey;
	color: green;
}

.wrapper > button:hover {
	cursor: pointer;
}
